{% extends "base.html" %}


{% block content %}
<div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
			<div style="flex: 1;"></div>
			<div class="navbar" id="mainnavbar">
				<button><a href="/index.html">الرئيسية</a></button>
				<button><a href="/books.html">الكتب</a></button>
				<!-- <div class="dropdown">
					<button>الدروس ▾</button>
					<div class="dropdown-content">
						<button onclick="goToPlaylist(0)">عمدة الأحكام</a>
						<button onclick="goToPlaylist(1)">إتحاف الكرام</a>
						<button onclick="goToPlaylist(2)">منظومة القواعد الفقهية</a>
					</div>
				</div> -->
				<!-- <button><a href="/moktatafat.html">صور مقتطفات</a></button> -->
			</div>
			<div style="flex: 1;"></div>
		</div>

		{% endblock content %}